<!-- breadcumb-area-start -->
<div class="breadcumb-area bg-with-black">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcumb">
                    <h2 class="name">About Us</h2>
                    <ul class="links">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="04_about.html">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcumb-area-end -->
<!-- about-tab-area-start -->
<div class="about-tab-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="about-tab-img">
                    <img src="img/about/tab-banner.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="about-tab">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-mission-tab" data-toggle="tab" href="04_about.html#nav-mission" role="tab" aria-controls="nav-mission" aria-selected="true">Mission</a>
                            <a class="nav-item nav-link" id="nav-vision-tab" data-toggle="tab" href="04_about.html#nav-vision" role="tab" aria-controls="nav-vision" aria-selected="false">Vision</a>
                            <a class="nav-item nav-link" id="nav-values-tab" data-toggle="tab" href="04_about.html#nav-values" role="tab" aria-controls="nav-values" aria-selected="false">Values</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                            <div class="about-tab-box">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply ithe dummy text of the printing and typesetting industry. Lorem Ipsum is has been the dummy industry's standard dummy.</p>
                                <ul>
                                    <li><span><i class="fas fa-check-circle"></i></span> Deliver a high quality web design.</li>
                                    <li><span><i class="fas fa-check-circle"></i></span> Support our customers once signing a contract</li>
                                    <li><span><i class="fas fa-check-circle"></i></span> Streamline an expanded array of web</li>
                                    <li><span><i class="fas fa-check-circle"></i></span> Pursue web-enabled niche markets with professionals</li>
                                    <li><span><i class="fas fa-check-circle"></i></span> We love what we do and we do it with passion!</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">
                            <div class="about-tab-box">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply ithe dummy text of the printing and typesetting industry. Lorem Ipsum is has been the dummy industry's standard dummy.</p>
                                <ul>
                                    <li><span><i class="fas fa-check-circle"></i></span> Deliver a high quality web design.</li>
                                    <li><span><i class="fas fa-check-circle"></i></span> Support our customers once signing a contract</li>
                                    <li><span><i class="fas fa-check-circle"></i></span> Streamline an expanded array of web</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-values" role="tabpanel" aria-labelledby="nav-values-tab">
                            <div class="about-tab-box">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply ithe dummy text of the printing and typesetting industry. Lorem Ipsum is has been the dummy industry's standard dummy.</p>
                                <ul>
                                    <li><span><i class="fas fa-check-circle"></i></span> Pursue web-enabled niche markets with professionals</li>
                                    <li><span><i class="fas fa-check-circle"></i></span> We love what we do and we do it with passion!</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-tab-area-end -->
<!-- about-video-area-start -->
<div class="about-video-area bg-with-black">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-12">
                <div class="about-video">
                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=kNz82r5nyUw"><i class="fas fa-play"></i></a>
                    <h2 class="title">Take a Video</h2>
                    <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply ithe dummy.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-video-area-end -->
<!-- team-area-start -->
<div class="team-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
                <div class="section-title">
                    <h6>Our Team</h6>
                    <h2>We Are Team Of Professionals</h2>
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour or randomised words which even slightly believable.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2 col-sm-12 col-12">
                <div class="all-progess">
                    <div class="skills-progress" data-sr='enter'>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 91%;">
                                <span>91%</span>
                            </div>
                        </div>
                        <h5 class="progressbar-title">Business Consulting</h5>
                    </div>
                    <div class="skills-progress" data-sr='enter'>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 82%;">
                                <span>82%</span>
                            </div>
                        </div>
                        <h5 class="progressbar-title">Financial Advicing</h5>
                    </div>
                    <div class="skills-progress" data-sr='enter'>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 97%;">
                                <span>97%</span>
                            </div>
                        </div>
                        <h5 class="progressbar-title">Brand Consulting</h5>
                    </div>
                    <div class="skills-progress" data-sr='enter'>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
                                <span>77%</span>
                            </div>
                        </div>
                        <h5 class="progressbar-title">Business Idea</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2 col-sm-12 col-12">
                <div class="all-team">
                    <div class="single-team">
                        <div class="img">
                            <img src="img/home1/team-1.jpg" alt="">
                            <div class="content">
                                <span class="default"><i class="flaticon-network"></i></span>
                                <ul class="social">
                                    <li><a href="04_about.html#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="04_about.html#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="04_about.html#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-team">
                        <div class="img">
                            <img src="img/home1/team-2.jpg" alt="">
                            <div class="content">
                                <span class="default"><i class="flaticon-network"></i></span>
                                <ul class="social">
                                    <li><a href="04_about.html#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="04_about.html#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="04_about.html#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-team">
                        <div class="img">
                            <img src="img/home1/team-3.jpg" alt="">
                            <div class="content">
                                <span class="default"><i class="flaticon-network"></i></span>
                                <ul class="social">
                                    <li><a href="04_about.html#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="04_about.html#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="04_about.html#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-team">
                        <div class="img">
                            <img src="img/home1/team-4.jpg" alt="">
                            <div class="content">
                                <span class="default"><i class="flaticon-network"></i></span>
                                <ul class="social">
                                    <li><a href="04_about.html#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="04_about.html#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="04_about.html#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team-area-end -->
<!-- need-consultant-area-start -->
<div class="need-consultant-area bg-with-black">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12">
                <div class="need-consultant">
                    <h2 class="title">Need a Consultant?</h2>
                    <p class="text">Looking fo a Business Plan Consultant. Contact some of our Expert or our Agent, We are hear to help you out.</p>
                    <a class="contact" href="22_contact.html">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- need-consultant-area-end -->
<!-- pricing-area-start -->
<div class="page-about-pricing pricing-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
                <div class="section-title">
                    <h6>Packages</h6>
                    <h2>Our Pricing Plans</h2>
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour or randomised words which even slightly believable.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-12">
                <div class="single-pricing">
                    <div class="top">
                        <h2 class="name">Basic</h2>
                        <h5 class="type">Consulting Pack</h5>
                    </div>
                    <div class="price">
                        <h2 class="tag"><span>$</span>59</h2>
                    </div>
                    <div class="bottom">
                        <ul class="feature">
                            <li>Business Analyzing</li>
                            <li>Operational Excellence</li>
                            <li>Knowledge Management</li>
                            <li>Business Idea Ready</li>
                        </ul>
                        <div class="buy">
                            <a class="button" href="04_about.html#">Buy this Plan</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-12">
                <div class="single-pricing active">
                    <div class="top">
                        <p class="popular">Popular Pack</p>
                        <h2 class="name">Standard</h2>
                        <h5 class="type">Consulting Pack</h5>
                    </div>
                    <div class="price">
                        <h2 class="tag"><span>$</span>89</h2>
                    </div>
                    <div class="bottom">
                        <ul class="feature">
                            <li>Full Business Analyzing</li>
                            <li>Next Generation Accounting</li>
                            <li>Online staff training sessions</li>
                            <li>Business Idea Ready</li>
                        </ul>
                        <div class="buy">
                            <a class="button" href="04_about.html#">Buy this Plan</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-12">
                <div class="single-pricing">
                    <div class="top">
                        <h2 class="name">Complete</h2>
                        <h5 class="type">Consulting Pack</h5>
                    </div>
                    <div class="price">
                        <h2 class="tag"><span>$</span>99</h2>
                    </div>
                    <div class="bottom">
                        <ul class="feature">
                            <li>Digital Transformation</li>
                            <li>Supply Chain Optimization</li>
                            <li>Management + People Strategy</li>
                            <li>Business Idea Ready</li>
                        </ul>
                        <div class="buy">
                            <a class="button" href="04_about.html#">Buy this Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pricing-area-end -->
<!-- contact-details-area-start -->
<div class="page-cda contact-details-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="all-contact-details">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="single-contact-details">
                                <div class="icon">
                                    <span class="flaticon-placeholder"></span>
                                </div>
                                <h4 class="title">Our Address</h4>
                                <p class="desc">Level 13, 2 Elizabeth St,</p>
                                <p class="desc">Melbourne, Victoria 3000</p>
                                <a class="link" href="https://www.google.com.bd/maps/@40.703949,-74.0025883,12.71z?hl=bn" target="_blank">Directions</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="single-contact-details">
                                <div class="icon">
                                    <span class="flaticon-message"></span>
                                </div>
                                <h4 class="title">Email Address</h4>
                                <a class="desc" href="mailto:Support@My.website.com">Support@My.website.com</a>
                                <a class="desc" href="tel:+00-015-152-1002">Phone: +00-015-152-1002</a>
                                <a class="link" href="mailto:Support@My.website.com" target="_blank">Send a Message</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-12">
                            <div class="single-contact-details">
                                <div class="icon">
                                    <span class="flaticon-group"></span>
                                </div>
                                <h4 class="title">Our Support</h4>
                                <a class="desc" href="tel:+00-015-152-1002">Phone: +00-015-152-1002</a>
                                <a class="desc" href="fax:+358.555.1234567">Fax: +01-215-152-0020</a>
                                <a class="link" href="04_about.html#" target="_blank">Open a Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact-details-area-end -->