<div class="content-wrapper">
    <div class="container-fluid">
        <video src="/assets/video/people.mp4" autoplay="" loop=""></video>
    <!-- Breadcrumb-->
     <div class="row pt-2 pb-2">
        <div class="col-sm-9">
	   </div>
	   <div class="col-sm-3">
     </div>
     </div>
    <!-- End Breadcrumb-->

    </div>
    <!-- End container-fluid-->
